@mixin component-background($image-url) {
  width: 100vw;
  height: 100vh;
  background-image: url(#{$image-url});
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

$bright-button-background: #f7480e;
$bright-button-disabled-background: #f8ad93;
$dark-button-background: #0a4ecc;
