html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
    format('truetype');
}

body {
  font-family: 'Inter', sans-serif;
}

.app {
  position: relative;
  display: flex;
}

.star-wars-theme {
  background-image: url(/src/assets/images/a7588dae699a1d5342d585c901bbf36d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  .flyout-wrapper {
    background: none;
    box-shadow: none;
    border: none;
  }
  .sidebar {
    background-color: $main-background;
    .search-section {
      .search-wrapper {
        background: $pad-background;
        box-shadow: none;
        .button {
          background-color: $item-background;
          border-left: 6px solid $button-border;
          border-right: 6px solid $button-border;
          color: $button-border;
          font-weight: 400;
          &:hover {
            border: 1px solid $button-border;
            border-left: 6px solid $button-border;
            border-right: 6px solid $button-border;
          }
        }
      }
    }
    .search-items-wrapper {
      .search-item {
        background-color: $item-background;
        border-left: 6px solid $item-border;
        border-right: 6px solid $item-border;
        color: $item-border;
        h2 {
          font-weight: 500;
        }
        &:hover {
          box-shadow: none !important;
          background-color: $item-background;
          border: 1px solid $item-border;
          border-left: 6px solid $item-border;
          border-right: 6px solid $item-border;
          color: $item-border;
          .search-item-image {
            background-image: url(/src/assets/images/planete-icon-blue.svg);
          }
        }
        &-image {
          background-image: url(/src/assets/images/planete-icon-blue.svg);
        }
      }
    }
    .pagination-item {
      background-color: $item-background;
      border: 2px solid $button-border;
      color: $button-border;
      font-weight: 400;
      &:hover {
        background-color: $item-background;
      }
    }
  }
  .flyout-wrapper {
    background-color: $pad-background;
    p {
      color: white;
      font-weight: 400;
    }
    .button {
      background-color: $item-background !important;
      font-weight: 400;
    }
    .flyout-unselect-all-button {
      background-color: $item-background;
      border-left: 6px solid $button-border;
      border-right: 6px solid $button-border;
      color: $button-border;
      &:hover {
        border: 1px solid $button-border;
        border-left: 6px solid $button-border;
        border-right: 6px solid $button-border;
      }
    }
    .flyout-download-button {
      border-left: 6px solid $item-border;
      border-right: 6px solid $item-border;
      color: $item-border;
      &:hover {
        border: 1px solid $item-border;
        border-left: 6px solid $item-border;
        border-right: 6px solid $item-border;
      }
    }
  }
  .details {
    .planet-data {
      background: none;
      box-shadow: 2px 2px 40px rgb(35, 35, 35);
      background-color: $main-background;
      h1 {
        background: none;
        background-color: $item-background;
        color: $button-border;
      }
      .planet-data-descriptor {
        background-color: $item-background;
        color: white;
        span {
          color: $item-border;
        }
      }
      .details-close-button {
        background-color: $item-background;
        border: 3px solid $button-border;
        color: $button-border;
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
  .loading-indicator {
    background: none;
    background-color: $item-background;
    box-shadow: none;
    border: 2px solid $item-border;
    font-weight: 400;
  }
}

.loading-indicator,
.error-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 300px;
  left: 40%;
  width: 200px;
  height: 100px;
  background: linear-gradient(
    266deg,
    rgba(26, 4, 164, 1) 0%,
    rgb(67, 117, 253) 100%
  );
  font-size: 25px;
  font-weight: 600;
  color: white;
  border-radius: 10px;
}

.error-fallback {
  font-size: 20px;
  padding: 17px;
  background: none;
  background-color: rgb(207, 4, 4);
  box-shadow: 2px 2px 20px rgb(102, 102, 102);
}

.sidebar {
  width: 60%;
  background-color: rgb(211, 234, 252);
  padding: 10px;
  padding-top: 15px;
  position: relative;
}

.error-page {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.loading-indicator {
  z-index: 100;
  top: 40%;
  left: 30%;
  margin: 0 auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  background: linear-gradient(
    266deg,
    rgba(26, 4, 164, 1) 0%,
    rgb(67, 117, 253) 100%
  );
  box-shadow: 2px 2px 20px rgb(102, 102, 102);
}

.hidden {
  display: none;
}
